//Created by Bli on 2014/4/28.
div.view-header
	i.icon-arrow-left-3.view-header-icon(ng-click="getBack()")
	span.subheader 客户信息
	comment.text-muted.margin20 Customer Information
	div.place-right
		button(
		popup-dialog,
		dialog-config="customerEditorConfig",
		ng-click="newCustomer($event, {})",
		on-confirm="confirmEmitted(action, data)"
		)
			i.icon-new
			span 新建
	div.view-header-control-search-box.place-right.margin5
		div.input-control.text
			input(type="text", placeholder="查找客户", ng-model="searchText")
			button.btn-search(tabindex="-1")


div#customer-list.grid.view-form-sheet
	table.table.bordered.hovered
		thead
			tr
				th.text-center(ng-repeat="header in headers track by $index", nowrap)
					t {{header}}
		tbody
			tr.cursor-pointer(
			ng-repeat="row in customer_list | filter:searchText",
			popup-dialog,
			dialog-config="customerEditorConfig",
			ng-click="detail($event, row)",
			on-confirm="confirmEmitted(action, data)"
			)
				td {{row.name}}
				td {{row.presenter}}
				td {{row.address}}
				td {{row.tel}}
				td {{row.contact}}

				//td.record-control-button-set
					button.hint--bottom(data-hint="详细", ng-click="detail($event, $index)")
						a: i.icon-clipboard-2.fg-darkBlue
					button.hint--bottom(data-hint="删除", ng-click="remove($event, $index)")
						a: i.icon-cancel-2.fg-darkRed
