//Created by Bli on 14-2-13.
div.navbar.navbar-inverse.navbar-fixed-top(ng-controller="topBarController", role="navigation")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#topbar-collapse")
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.cursor-pointer
				i.fa.fa-paper-plane.fa-lg.margin5.h-only
				span.fa-lg: strong CBMS&nbsp;&nbsp;

		#topbar-collapse.collapse.navbar-collapse.row
			ul.nav.navbar-nav.navbar-left

				li#nav-block-dashboard.dropdown
					a.dropdown-toggle.cursor-pointer(href="#")
						i.fa.fa-tasks.fa-fw &nbsp;
						span.cursor-pointer 任务板

				li#nav-block-task.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-history.fa-fw &nbsp;
						span.cursor-pointer 任务
						b.caret
					ul.dropdown-menu
						li(ng-repeat="task in recentOpenedTasks track by $index")
							a(ng-href="#/task-editor/edit/{{task.id}}")
								i.fa.fa-link.fa-fw &nbsp;
								span {{task.id}} - {{task.slogan}}

				li#nav-block-config.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-cogs.fa-fw &nbsp;
						span.cursor-pointer 信息库
						b.caret
					ul.dropdown-menu
						li: a(href="#/config/customer")
							i.fa.fa-briefcase.fa-fw &nbsp;
							span 客户信息
						li: a(href="#/config/employee")
							i.fa.fa-users.fa-fw &nbsp;
							span 人员信息

				li#nav-block-query.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-bar-chart-o.fa-fw &nbsp;
						span.cursor-pointer 查询
						b.caret
					ul.dropdown-menu
						li: a(href="#/queryer") 条件查询

				li#nav-block-user.dropdown
					a.dropdown-toggle.cursor-pointer(data-toggle="dropdown")
						i.fa.fa-user.fa-fw &nbsp;
						span {{loginUser}}
						b.caret
					ul.dropdown-menu
						li: a.cursor-pointer(
						popup-dialog,
						dialog-config="personalSettingsConfig",
						ng-click="showPersonalSettings($event)",
						on-confirm="onPersonalSettingsSaved(action, data)"
						)
							i.fa.fa-info.fa-fw &nbsp;
							span 修改登录信息
						//li: a(href='#')
						//	i.fa.fa-retweet.fa-fw &nbsp;
						//	span 切换帐套
						//li: a(href='#')
						//	i.fa.fa-lock.fa-fw &nbsp;
						//	span 锁屏
						li.divider
						li: a.cursor-pointer(href="/", ng-click="signOff()")
							i.fa.fa-sign-out.fa-fw &nbsp;
							span 登出系统

				li#new-task-btn.navbar-form.navbar-right(ng-if="canAdd")
					btn.btn.btn-primary(
					popup-dialog,
					dialog-config="registerEditorConfig",
					ng-click="showRegisterEditor($event)",
					on-confirm="onRegisterSaved(action, data)"
					)
						i.fa.fa-edit.fa-fw &nbsp;
						span 新任务

			#task-searcher.navbar-form.navbar-right.top-bar-search-box(role="search")
				div.input-group
					input.form-control(type="text", placeholder="任务代号", ng-model="query")
					span.input-group-btn
						button(type="submit").btn.btn-default
							i.fa.fa-search