//Created by bli on 2014/5/13.
fieldset(keyboard-support, ng-controller="priceTabController")
	span.item-title 提案报价
	comment.text-muted.margin15 Minutes of Meeting
	div.expandable-section
		div.row
			div.span10
				label 报价明细
				table.table.bordered.hovered
					thead
						tr
							th 服务内容
							th 服务时间
							th 服务费用
							th 交通费用
							th 公关费用
							th 小计
							th 附件
					tbody
						tr.cursor-pointer(
						popup-dialog,
						dialog-config="priceSubitemEditor",
						ng-click="editSubItem($event)",
						on-confirm="confirmEmitted(action, data)")
							td 市场调查
							td 2014/05/05
							td 2100.00
							td 200.00
							td 220.00
							td 2520.00
							td
								div.attachment-token(ng-click="downloadAttachment($event)")
									i.icon-file-excel
									span 发票2014-05-02 10:22xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xlsx
								//div.attachment-token(ng-click="downloadAttachment($event)")
									i.icon-file-word
									span 预算.docx
		div.row
			div.span3.margin10
				button(popup-dialog,
				dialog-config="priceSubitemEditor",
				ng-click="addSubItem($event, {})",
				on-confirm="confirmEmitted(action, data)")
					i.icon-plus-2
					span 添加明细