//Created by Bohua on 2014-04-28.
div#employee-editor-form.grid.view-form-sheet(ng-controller="employeeEditorController")
	fieldset(keyboard-support)
		span.item-title 员工信息
		comment.text-muted.margin15 Employee Information
		div.expandable-section
			div.row
				div.span2
					label 姓名
					div.input-control.text
						input.auto-focus(type="text", placeholder="姓名", ng-model="dialog_data_model.name", tab-start, required)
						//button.btn-clear
				div.span2
					label 职位
					div.input-control.text
						input(type="text", placeholder="职位", ng-model="dialog_data_model.role")
						//button.btn-clear
				div.span3
					label 电话
					div.input-control.text
						input(type="text", placeholder="电话", ng-model="dialog_data_model.tel")
						//button.btn-clear
				div.span3
					label 手机
					div.input-control.text
						input(type="text", placeholder="手机", ng-model="dialog_data_model.mobile")
						//button.btn-clear
			div.row
				div.span4
					label 邮箱
					div.input-control.text
						input(type="text", placeholder="公司邮箱", ng-model="dialog_data_model.email")
						//button.btn-clear
				div.span6
					label 备注
					div.input-control.text
						input(type="text", placeholder="备注", ng-model="dialog_data_model.description")
						//button.btn-clear
			div.row
				div.span10
					label 标签
					//input(type="text", data-role="tagsinput", tab-end)
					bootstrap-tagsinput(
					ng-model="dialog_data_model.tags",
					tag-gen="tagGenerator",
					tagClass="getTagClass",
					itemvalue="id",
					itemtext="tag",
					tab-end)

		div.dialog-contol-panel
			div.place-left
				button.button.danger(ng-click="delete()", ng-if="prop.mode=='edit'") 删除

			div.form-actions
				button.button.primary(ng-click="Confirm('update', true)") 保存
				button.button(type="button", ng-click="Cancel()") 取消

			div.place-right(ng-show="prop.showErrorMessage")
				span.fg-red.margin20.bg-grayLighter 单据填写有误，请修正红色标记